# Data Cleaning

In [1]:
import pandas as pd

# Read the users dataset.

Take a look at what is the `users.csv` separator.

In [2]:
pwd

'C:\\Users\\Alvaro Camacho\\Desktop\\Ironhack\\Week 2\\week2_day4'

In [3]:
df = pd.read_csv('C:\\Users\\Alvaro Camacho\\Desktop\\Ironhack\\Week 2\\week2_day4/users.csv', sep ='#')
df

,Id,Reputation,CreationDate,DisplayName,LastAccessDate,WebsiteUrl,Location,AboutMe,Views,UpVotes,DownVotes,AccountId,Age,ProfileImageUrl
0,-1,1,2010-07-19 06:55:26,Community,2010-07-19 06:55:26,http://meta.stackexchange.com/,on the server farm,"<p>Hi, I'm not really a person.</p>\n\n<p>I'm ...",0,5007,1920,-1,NaN,NaN
1,2,101,2010-07-19 14:01:36,Geoff Dalgas,2013-11-12 22:07:23,http://stackoverflow.com,"Corvallis, OR",<p>Developer on the StackOverflow team. Find ...,25,3,0,2,37.0,NaN
2,3,101,2010-07-19 15:34:50,Jarrod Dixon,2014-08-08 06:42:58,http://stackoverflow.com,"New York, NY","<p><a href=""http://blog.stackoverflow.com/2009...",22,19,0,3,35.0,NaN
3,4,101,2010-07-19 19:03:27,Emmett,2014-01-02 09:31:02,http://minesweeperonline.com,"San Francisco, CA",<p>currently at a startup in SF</p>\n\n<p>form...,11,0,0,1998,28.0,http://i.stack.imgur.com/d1oHX.jpg
4,5,6792,2010-07-19 19:03:57,Shane,2014-08-13 00:23:47,http://www.statalgo.com,"New York, NY",<p>Quantitative researcher focusing on statist...,1145,662,5,54503,35.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40498,6726,1,2011-10-09 13:16:20,AlexAtStack,2012-05-18 09:32:44,NaN,NaN,NaN,0,0,0,203972,NaN,NaN
40499,53426,101,2014-08-05 07:54:54,John J. Camilleri,2014-08-05 08:54:37,http://johnjcamilleri.com,"Gothenburg, Sweden","<p>Accidental computational linguist, de facto...",1,2,0,34865,28.0,https://www.gravatar.com/avatar/5738c02070833b...
40500,21468,101,2013-03-02 07:50:03,Peter L.,2013-03-02 07:50:03,http://www.a1qa.com/,"Minsk, Belarus","<p>QA Manager with comprehensive, cold-blooded...",1,0,0,2211454,32.0,http://www.gravatar.com/avatar/cbd80a5b2a5257d...
40501,54132,1,2014-08-15 10:52:25,user54132,2014-08-15 10:52:25,NaN,NaN,NaN,1,0,0,4894117,NaN,NaN
40502,39943,1,2014-02-10 20:55:19,user1133128,2014-02-10 20:55:19,NaN,NaN,NaN,0,0,0,1151526,NaN,https://www.gravatar.com/avatar/8e983e68f44d99...

In [4]:
df.shape

(40503, 14)

## Check its shape

See the number of rows and columns you're dealing.

## Use the .head() to see some rows of your dataframe.

In [5]:
df.head()

,Id,Reputation,CreationDate,DisplayName,LastAccessDate,WebsiteUrl,Location,AboutMe,Views,UpVotes,DownVotes,AccountId,Age,ProfileImageUrl
0,-1,1,2010-07-19 06:55:26,Community,2010-07-19 06:55:26,http://meta.stackexchange.com/,on the server farm,"<p>Hi, I'm not really a person.</p>\n\n<p>I'm ...",0,5007,1920,-1,NaN,NaN
1,2,101,2010-07-19 14:01:36,Geoff Dalgas,2013-11-12 22:07:23,http://stackoverflow.com,"Corvallis, OR",<p>Developer on the StackOverflow team. Find ...,25,3,0,2,37.0,NaN
2,3,101,2010-07-19 15:34:50,Jarrod Dixon,2014-08-08 06:42:58,http://stackoverflow.com,"New York, NY","<p><a href=""http://blog.stackoverflow.com/2009...",22,19,0,3,35.0,NaN
3,4,101,2010-07-19 19:03:27,Emmett,2014-01-02 09:31:02,http://minesweeperonline.com,"San Francisco, CA",<p>currently at a startup in SF</p>\n\n<p>form...,11,0,0,1998,28.0,http://i.stack.imgur.com/d1oHX.jpg
4,5,6792,2010-07-19 19:03:57,Shane,2014-08-13 00:23:47,http://www.statalgo.com,"New York, NY",<p>Quantitative researcher focusing on statist...,1145,662,5,54503,35.0,NaN

## Get the data info. 

Which columns have a great number of missing values? How many space does this dataframe is occupying in your memory?

In [5]:
df.info() #4.3MB of memory usage

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40503 entries, 0 to 40502
Data columns (total 14 columns):
Id                 40503 non-null int64
Reputation         40503 non-null int64
CreationDate       40503 non-null object
DisplayName        40497 non-null object
LastAccessDate     40503 non-null object
WebsiteUrl         8158 non-null object
Location           11731 non-null object
AboutMe            9424 non-null object
Views              40503 non-null int64
UpVotes            40503 non-null int64
DownVotes          40503 non-null int64
AccountId          40503 non-null int64
Age                8352 non-null float64
ProfileImageUrl    16540 non-null object
dtypes: float64(1), int64(6), object(7)
memory usage: 4.3+ MB

In [6]:
df.isna().any()

Id                 False
Reputation         False
CreationDate       False
DisplayName         True
LastAccessDate     False
WebsiteUrl          True
Location            True
AboutMe             True
Views              False
UpVotes            False
DownVotes          False
AccountId          False
Age                 True
ProfileImageUrl     True
dtype: bool

## Rename Id column to user_id.

Remember to store you results back at the dataframe.

In [7]:
df.rename(columns={'Id':'user_id'}, inplace=True)
df

,user_id,Reputation,CreationDate,DisplayName,LastAccessDate,WebsiteUrl,Location,AboutMe,Views,UpVotes,DownVotes,AccountId,Age,ProfileImageUrl
0,-1,1,2010-07-19 06:55:26,Community,2010-07-19 06:55:26,http://meta.stackexchange.com/,on the server farm,"<p>Hi, I'm not really a person.</p>\n\n<p>I'm ...",0,5007,1920,-1,NaN,NaN
1,2,101,2010-07-19 14:01:36,Geoff Dalgas,2013-11-12 22:07:23,http://stackoverflow.com,"Corvallis, OR",<p>Developer on the StackOverflow team. Find ...,25,3,0,2,37.0,NaN
2,3,101,2010-07-19 15:34:50,Jarrod Dixon,2014-08-08 06:42:58,http://stackoverflow.com,"New York, NY","<p><a href=""http://blog.stackoverflow.com/2009...",22,19,0,3,35.0,NaN
3,4,101,2010-07-19 19:03:27,Emmett,2014-01-02 09:31:02,http://minesweeperonline.com,"San Francisco, CA",<p>currently at a startup in SF</p>\n\n<p>form...,11,0,0,1998,28.0,http://i.stack.imgur.com/d1oHX.jpg
4,5,6792,2010-07-19 19:03:57,Shane,2014-08-13 00:23:47,http://www.statalgo.com,"New York, NY",<p>Quantitative researcher focusing on statist...,1145,662,5,54503,35.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40498,6726,1,2011-10-09 13:16:20,AlexAtStack,2012-05-18 09:32:44,NaN,NaN,NaN,0,0,0,203972,NaN,NaN
40499,53426,101,2014-08-05 07:54:54,John J. Camilleri,2014-08-05 08:54:37,http://johnjcamilleri.com,"Gothenburg, Sweden","<p>Accidental computational linguist, de facto...",1,2,0,34865,28.0,https://www.gravatar.com/avatar/5738c02070833b...
40500,21468,101,2013-03-02 07:50:03,Peter L.,2013-03-02 07:50:03,http://www.a1qa.com/,"Minsk, Belarus","<p>QA Manager with comprehensive, cold-blooded...",1,0,0,2211454,32.0,http://www.gravatar.com/avatar/cbd80a5b2a5257d...
40501,54132,1,2014-08-15 10:52:25,user54132,2014-08-15 10:52:25,NaN,NaN,NaN,1,0,0,4894117,NaN,NaN
40502,39943,1,2014-02-10 20:55:19,user1133128,2014-02-10 20:55:19,NaN,NaN,NaN,0,0,0,1151526,NaN,https://www.gravatar.com/avatar/8e983e68f44d99...

# Import the `posts.csv` dataset.

Note that this is a `gzip compressed csv`. In order to read this file correctly, you'll have to read the documentation (or help) of your `pd.read_csv()` function and check the `compression` argument. Try to understand which value of `compression=...` you should put in order to read your dataframe.

In [8]:
df1 = pd.read_csv('C:\\Users\\Alvaro Camacho\\Desktop\\Ironhack\\Week 2\\week2_day4/posts.csv.gzip', compression='gzip')
df1

,Id,PostTypeId,AcceptedAnswerId,CreaionDate,Score,ViewCount,Body,OwnerUserId,LasActivityDate,Title,...,AnswerCount,CommentCount,FavoriteCount,LastEditorUserId,LastEditDate,CommunityOwnedDate,ParentId,ClosedDate,OwnerDisplayName,LastEditorDisplayName
0,1,1,15.0,2010-07-19 19:12:12,23,1278.0,<p>How should I elicit prior distributions fro...,8.0,2010-09-15 21:08:26,Eliciting priors from experts,...,5.0,1,14.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,1,59.0,2010-07-19 19:12:57,22,8198.0,<p>In many different statistical methods there...,24.0,2012-11-12 09:21:54,What is normality?,...,7.0,1,8.0,88.0,2010-08-07 17:56:44,NaN,NaN,NaN,NaN,NaN
2,3,1,5.0,2010-07-19 19:13:28,54,3613.0,<p>What are some valuable Statistical Analysis...,18.0,2013-05-27 14:48:36,What are some valuable Statistical Analysis op...,...,19.0,4,36.0,183.0,2011-02-12 05:50:03,2010-07-19 19:13:28,NaN,NaN,NaN,NaN
3,4,1,135.0,2010-07-19 19:13:31,13,5224.0,<p>I have two groups of data. Each with a dif...,23.0,2010-09-08 03:00:19,Assessing the significance of differences in d...,...,5.0,2,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,2,NaN,2010-07-19 19:14:43,81,NaN,"<p>The R-project</p>\n\n<p><a href=""http://www...",23.0,2010-07-19 19:21:15,NaN,...,NaN,3,NaN,23.0,2010-07-19 19:21:15,2010-07-19 19:14:43,3.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
91971,115374,2,NaN,2014-09-13 23:45:39,2,NaN,"<p>This grew too long for a comment, but I thi...",805.0,2014-09-14 02:05:41,NaN,...,NaN,2,NaN,805.0,2014-09-14 02:05:41,NaN,115367.0,NaN,NaN,NaN
91972,115375,1,NaN,2014-09-13 23:46:05,0,9.0,<p>Assume a classification problem where there...,49365.0,2014-09-14 02:09:23,Detecting a consistent pattern in a dataset vi...,...,1.0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
91973,115376,1,NaN,2014-09-14 01:27:54,1,5.0,<p>My goal is to create a formula that can giv...,55746.0,2014-09-14 01:40:55,How to project video viewcount based on histor...,...,0.0,2,NaN,7290.0,2014-09-14 01:40:55,NaN,NaN,NaN,NaN,NaN
91974,115377,2,NaN,2014-09-14 02:03:28,0,NaN,<p>As a practical answer to the real questions...,805.0,2014-09-14 02:54:13,NaN,...,NaN,0,NaN,805.0,2014-09-14 02:54:13,NaN,115358.0,NaN,NaN,NaN
91975,115378,2,NaN,2014-09-14 02:09:23,0,NaN,<p>Decision trees are notoriously <strong>unst...,7250.0,2014-09-14 02:09:23,NaN,...,NaN,0,NaN,NaN,NaN,NaN,115375.0,NaN,NaN,NaN

## Perform the same as above to understand a bit of your data (head, info, shape)

In [9]:
df1.head()

,Id,PostTypeId,AcceptedAnswerId,CreaionDate,Score,ViewCount,Body,OwnerUserId,LasActivityDate,Title,...,AnswerCount,CommentCount,FavoriteCount,LastEditorUserId,LastEditDate,CommunityOwnedDate,ParentId,ClosedDate,OwnerDisplayName,LastEditorDisplayName
0,1,1,15.0,2010-07-19 19:12:12,23,1278.0,<p>How should I elicit prior distributions fro...,8.0,2010-09-15 21:08:26,Eliciting priors from experts,...,5.0,1,14.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,1,59.0,2010-07-19 19:12:57,22,8198.0,<p>In many different statistical methods there...,24.0,2012-11-12 09:21:54,What is normality?,...,7.0,1,8.0,88.0,2010-08-07 17:56:44,NaN,NaN,NaN,NaN,NaN
2,3,1,5.0,2010-07-19 19:13:28,54,3613.0,<p>What are some valuable Statistical Analysis...,18.0,2013-05-27 14:48:36,What are some valuable Statistical Analysis op...,...,19.0,4,36.0,183.0,2011-02-12 05:50:03,2010-07-19 19:13:28,NaN,NaN,NaN,NaN
3,4,1,135.0,2010-07-19 19:13:31,13,5224.0,<p>I have two groups of data. Each with a dif...,23.0,2010-09-08 03:00:19,Assessing the significance of differences in d...,...,5.0,2,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,2,NaN,2010-07-19 19:14:43,81,NaN,"<p>The R-project</p>\n\n<p><a href=""http://www...",23.0,2010-07-19 19:21:15,NaN,...,NaN,3,NaN,23.0,2010-07-19 19:21:15,2010-07-19 19:14:43,3.0,NaN,NaN,NaN

In [10]:
df1.info() # memory usage: 14.7+ MB

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 91976 entries, 0 to 91975
Data columns (total 21 columns):
Id                       91976 non-null int64
PostTypeId               91976 non-null int64
AcceptedAnswerId         14700 non-null float64
CreaionDate              91976 non-null object
Score                    91976 non-null int64
ViewCount                42921 non-null float64
Body                     91756 non-null object
OwnerUserId              90584 non-null float64
LasActivityDate          91976 non-null object
Title                    42921 non-null object
Tags                     42921 non-null object
AnswerCount              42921 non-null float64
CommentCount             91976 non-null int64
FavoriteCount            13246 non-null float64
LastEditorUserId         44611 non-null float64
LastEditDate             45038 non-null object
CommunityOwnedDate       2467 non-null object
ParentId                 47755 non-null float64
ClosedDate               1610 non-null object
OwnerDisplayName         2509 non-null object
LastEditorDisplayName    465 non-null object
dtypes: float64(7), int64(4), object(10)
memory usage: 14.7+ MB

In [11]:
df1.shape

(91976, 21)

## Rename Id column to post_id and OwnerUserId to user_id.

Again, remember to check that your results are correctly stored inside the dataframe.

In [12]:
df1.rename(columns={'OwnerUserId':'user_id', 'Id':'post_id'}, inplace=True)
df1

,post_id,PostTypeId,AcceptedAnswerId,CreaionDate,Score,ViewCount,Body,user_id,LasActivityDate,Title,...,AnswerCount,CommentCount,FavoriteCount,LastEditorUserId,LastEditDate,CommunityOwnedDate,ParentId,ClosedDate,OwnerDisplayName,LastEditorDisplayName
0,1,1,15.0,2010-07-19 19:12:12,23,1278.0,<p>How should I elicit prior distributions fro...,8.0,2010-09-15 21:08:26,Eliciting priors from experts,...,5.0,1,14.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,1,59.0,2010-07-19 19:12:57,22,8198.0,<p>In many different statistical methods there...,24.0,2012-11-12 09:21:54,What is normality?,...,7.0,1,8.0,88.0,2010-08-07 17:56:44,NaN,NaN,NaN,NaN,NaN
2,3,1,5.0,2010-07-19 19:13:28,54,3613.0,<p>What are some valuable Statistical Analysis...,18.0,2013-05-27 14:48:36,What are some valuable Statistical Analysis op...,...,19.0,4,36.0,183.0,2011-02-12 05:50:03,2010-07-19 19:13:28,NaN,NaN,NaN,NaN
3,4,1,135.0,2010-07-19 19:13:31,13,5224.0,<p>I have two groups of data. Each with a dif...,23.0,2010-09-08 03:00:19,Assessing the significance of differences in d...,...,5.0,2,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,2,NaN,2010-07-19 19:14:43,81,NaN,"<p>The R-project</p>\n\n<p><a href=""http://www...",23.0,2010-07-19 19:21:15,NaN,...,NaN,3,NaN,23.0,2010-07-19 19:21:15,2010-07-19 19:14:43,3.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
91971,115374,2,NaN,2014-09-13 23:45:39,2,NaN,"<p>This grew too long for a comment, but I thi...",805.0,2014-09-14 02:05:41,NaN,...,NaN,2,NaN,805.0,2014-09-14 02:05:41,NaN,115367.0,NaN,NaN,NaN
91972,115375,1,NaN,2014-09-13 23:46:05,0,9.0,<p>Assume a classification problem where there...,49365.0,2014-09-14 02:09:23,Detecting a consistent pattern in a dataset vi...,...,1.0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
91973,115376,1,NaN,2014-09-14 01:27:54,1,5.0,<p>My goal is to create a formula that can giv...,55746.0,2014-09-14 01:40:55,How to project video viewcount based on histor...,...,0.0,2,NaN,7290.0,2014-09-14 01:40:55,NaN,NaN,NaN,NaN,NaN
91974,115377,2,NaN,2014-09-14 02:03:28,0,NaN,<p>As a practical answer to the real questions...,805.0,2014-09-14 02:54:13,NaN,...,NaN,0,NaN,805.0,2014-09-14 02:54:13,NaN,115358.0,NaN,NaN,NaN
91975,115378,2,NaN,2014-09-14 02:09:23,0,NaN,<p>Decision trees are notoriously <strong>unst...,7250.0,2014-09-14 02:09:23,NaN,...,NaN,0,NaN,NaN,NaN,NaN,115375.0,NaN,NaN,NaN

## Define new dataframes for users and posts with the following selected columns:

**users columns**: user_id, Reputation, Views, UpVotes, DownVotes  
**posts columns**: post_id, Score, user_id, ViewCount, CommentCount, Body

In [52]:
ndf = df.loc[:,['user_id','Reputation','Views','UpVotes','DownVotes']]
ndf.head(10)

   user_id  Reputation  Views  UpVotes  DownVotes
0       -1           1      0     5007       1920
1        2         101     25        3          0
2        3         101     22       19          0
3        4         101     11        0          0
4        5        6792   1145      662          5
5        6         457    114       47          0
6        7         429     56       20          0
7        8        6764   1089      604         25
8       10         121     20        2          0
9       11         136     10       10          0

In [61]:
ndf.duplicated().sum()

In [62]:
ndf_index = ndf.duplicated()

In [63]:
ndf_index

0        False
1        False
2        False
3        False
4        False
         ...
40498     True
40499     True
40500     True
40501     True
40502     True
Length: 40503, dtype: bool

In [68]:
dups = ndf.loc[ndf_index]

In [71]:
dups_list = dups.loc[:,'user_id']

In [72]:
list(dups_list)

[53041,
 11652,
 38183,
 5516,
 42450,
 36654,
 6838,
 54290,
 12813,
 11553,
 23987,
 40618,
 25490,
 44337,
 54388,
 40519,
 30147,
 44562,
 30706,
 42873,
 45471,
 9536,
 20473,
 27044,
 21953,
 2330,
 34851,
 27330,
 17940,
 31453,
 48993,
 37244,
 17671,
 6828,
 31795,
 21859,
 45495,
 5395,
 21759,
 35025,
 10659,
 29424,
 52272,
 41119,
 49018,
 35265,
 45669,
 40945,
 28525,
 10880,
 43481,
 29244,
 5433,
 26941,
 45925,
 28737,
 28699,
 36175,
 7029,
 54690,
 3304,
 48690,
 7552,
 25610,
 42046,
 16239,
 14710,
 760,
 46640,
 25727,
 12875,
 24068,
 17958,
 55592,
 39501,
 48534,
 32057,
 8298,
 47999,
 728,
 13201,
 10729,
 4961,
 25525,
 22064,
 12530,
 27258,
 36552,
 9549,
 31855,
 54911,
 21794,
 49454,
 8588,
 6309,
 25202,
 29794,
 36982,
 47985,
 26651,
 25010,
 55670,
 11921,
 38262,
 5330,
 7756,
 41676,
 30596,
 7254,
 54103,
 18305,
 29507,
 9670,
 4931,
 3629,
 12937,
 36432,
 42750,
 41473,
 17459,
 46276,
 55401,
 1056,
 12947,
 36904,
 36603,
 39688,
 10889,
 29020,
 25008,
 24810,
 30469,
 7456,
 39589,
 510,
 34723,
 15961,
 20679,
 37965,
 17285,
 27787,
 472,
 45252,
 28723,
 8439,
 54711,
 5869,
 48835,
 10906,
 28566,
 51871,
 48159,
 120,
 35629,
 12734,
 47989,
 45664,
 54741,
 10322,
 26846,
 6202,
 43232,
 8564,
 8245,
 8926,
 37466,
 53733,
 383,
 22163,
 52765,
 13743,
 36820,
 13402,
 6726,
 53426,
 21468,
 54132,
 39943]

In [77]:
ndf1.loc[ndf1['user_id'].isin(list(dups_list))] # it brings all the user ids that are in that list

,post_id,Score,user_id,ViewCount,CommentCount,Body
1201,1289,7,760.0,1139.0,8,<p>I am having difficulties to select the righ...
7939,8625,6,760.0,1799.0,3,<p>I was fiddling with PCA and LDA methods and...
10215,11136,3,3629.0,335.0,0,<h3>Context</h3>\n\n<p>I have a multivariate d...
11734,12806,3,5330.0,381.0,0,<p>I would like to know if it is useful (or ma...
12046,13149,4,5433.0,606.0,0,"<p>Say $X_0, X_1, ...$ is a Markov chain with ..."
...,...,...,...,...,...,...
90678,113953,0,54711.0,52.0,4,<p>I have obtained PCA scores (Anderson-Rubin)...
90773,114059,0,54103.0,18.0,0,<p>I have collected ratings on a scale from 0 ...
90917,114222,3,48159.0,49.0,0,"<p>Dear statistics experts,</p>\n\n<p>I have t..."
91032,114349,1,47999.0,34.0,0,<p>I'm having some trouble understanding Leo B...
91199,114527,0,54711.0,45.0,5,<p>From Shapiro-Wilk's test I see that the res...

In [14]:
ndf1 = df1.loc[:,['post_id', 'Score', 'user_id', 'ViewCount', 'CommentCount', 'Body']]
ndf1

,post_id,Score,user_id,ViewCount,CommentCount,Body
0,1,23,8.0,1278.0,1,<p>How should I elicit prior distributions fro...
1,2,22,24.0,8198.0,1,<p>In many different statistical methods there...
2,3,54,18.0,3613.0,4,<p>What are some valuable Statistical Analysis...
3,4,13,23.0,5224.0,2,<p>I have two groups of data. Each with a dif...
4,5,81,23.0,NaN,3,"<p>The R-project</p>\n\n<p><a href=""http://www..."
...,...,...,...,...,...,...
91971,115374,2,805.0,NaN,2,"<p>This grew too long for a comment, but I thi..."
91972,115375,0,49365.0,9.0,0,<p>Assume a classification problem where there...
91973,115376,1,55746.0,5.0,2,<p>My goal is to create a formula that can giv...
91974,115377,0,805.0,NaN,0,<p>As a practical answer to the real questions...
91975,115378,0,7250.0,NaN,0,<p>Decision trees are notoriously <strong>unst...

In [59]:
ndf1.duplicated().sum()

0

**Note:** Check the new posts dataframe's info. What is the most noticeable change? 

Explain why we have chosen only some columns of it in terms of efficiency.

# Merge the new dataframes you have created, of users and posts. Create a dataframe called `posts_from_users`

You will need to make an inner [merge](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.merge.html) of posts and users dataframes. 

Think carefully which should be the key(s) for your merging.

In [78]:
posts_from_users= pd.merge(left=ndf, right=ndf1, left_on='user_id', right_on='user_id')
posts_from_users

,user_id,Reputation,Views,UpVotes,DownVotes,post_id,Score,ViewCount,CommentCount,Body
0,-1,1,0,5007,1920,2175,0,NaN,0,<p><strong>CrossValidated</strong> is for stat...
1,-1,1,0,5007,1920,8576,0,NaN,0,NaN
2,-1,1,0,5007,1920,8578,0,NaN,0,NaN
3,-1,1,0,5007,1920,8981,0,NaN,0,"<p>""Statistics"" can refer variously to the (wi..."
4,-1,1,0,5007,1920,8982,0,NaN,0,This generic tag is only rarely suitable; use ...
...,...,...,...,...,...,...,...,...,...,...
90878,55734,1,0,0,0,115352,0,16.0,0,"<p>For example, I was looking at <a href=""http..."
90879,55738,11,0,0,0,115360,2,40.0,4,<p>Is Student's t test a Wald test?</p>\n\n<p>...
90880,55742,6,0,0,0,115366,1,17.0,0,<p>Does any standard statistical software like...
90881,55744,6,1,0,0,115370,1,13.0,2,<p>im analyzing an article for my studies with...
90882,55746,106,1,0,0,115376,1,5.0,2,<p>My goal is to create a formula that can giv...

## Check the number of duplicated rows.

Remember you can sum the results of a mask to get how many numbers the True value appeared in the results. This occurs because `True` is interpreted as `1` in Python whereas `False` is interpreted as `0`.

In [54]:
mask = posts_from_users.duplicated().sum()
mask

299

## Find those duplicate values and try to understand what happened.

*Hint:* You can use the argument `keep=False` from the `.duplicated()` method to bring the duplication.

*Hint 2:* You can sort the values `by=['user_id', 'post_id']` to see them in order.

In [55]:
posts_from_users.duplicated(keep=False).sum()

598

In [57]:
mask1 = posts_from_users.duplicated(keep=False)

In [81]:
posts_from_users.loc[mask1].sort_values(by=['user_id', 'post_id'])

,user_id,Reputation,Views,UpVotes,DownVotes,post_id,Score,ViewCount,CommentCount,Body
8396,760,168,13,13,0,1289,7,1139.0,8,<p>I am having difficulties to select the righ...
8399,760,168,13,13,0,1289,7,1139.0,8,<p>I am having difficulties to select the righ...
8397,760,168,13,13,0,8625,6,1799.0,3,<p>I was fiddling with PCA and LDA methods and...
8400,760,168,13,13,0,8625,6,1799.0,3,<p>I was fiddling with PCA and LDA methods and...
8398,760,168,13,13,0,23987,0,62.0,3,<p>I was studying on a PAMI article and I have...
...,...,...,...,...,...,...,...,...,...,...
90343,54711,4,18,0,0,114527,0,45.0,5,<p>From Shapiro-Wilk's test I see that the res...
90368,54741,16,1,0,0,113334,3,122.0,9,<p>I am confused on what I have read about the...
90369,54741,16,1,0,0,113334,3,122.0,9,<p>I am confused on what I have read about the...
90460,54911,1,1,0,0,113691,0,36.0,11,<p>I extract data related to a movie by sentim...
90461,54911,1,1,0,0,113691,0,36.0,11,<p>I extract data related to a movie by sentim...

In [134]:
posts_from_users.loc[mask1].sort_values(by=['user_id', 'post_id']).drop_duplicates()

,user_id,Reputation,Views,UpVotes,DownVotes,post_id,Score,ViewCount,CommentCount,Body
8396,760,168,13,13,0,1289,7,1139.0,8,<p>I am having difficulties to select the righ...
8397,760,168,13,13,0,8625,6,1799.0,3,<p>I was fiddling with PCA and LDA methods and...
8398,760,168,13,13,0,23987,0,62.0,3,<p>I was studying on a PAMI article and I have...
13663,1056,21,2,0,0,13594,4,135.0,0,<p>This is the motivation for my question: Sup...
23181,3629,31,3,0,0,11136,3,335.0,0,<h3>Context</h3>\n\n<p>I have a multivariate d...
...,...,...,...,...,...,...,...,...,...,...
90336,54711,4,18,0,0,113878,-1,40.0,2,<p>If I have built a certain construct measuri...
90337,54711,4,18,0,0,113953,0,52.0,4,<p>I have obtained PCA scores (Anderson-Rubin)...
90338,54711,4,18,0,0,114527,0,45.0,5,<p>From Shapiro-Wilk's test I see that the res...
90368,54741,16,1,0,0,113334,3,122.0,9,<p>I am confused on what I have read about the...
90460,54911,1,1,0,0,113691,0,36.0,11,<p>I extract data related to a movie by sentim...

## Should you drop it? If you think it is reasonable to drop it, then drop it.

Think: How would you correct it in the first place? That is, what was wrong in the first place?

*Hint:* There's a pandas method to drop duplicates. If you wanted to do it by hand, you could select the indexes of the duplicated values and `.drop()` it.

In [82]:
drop_pfu = posts_from_users.loc[mask1].sort_values(by=['user_id', 'post_id'])

In [91]:
dropped = drop_pfu.drop_duplicates()
dropped.sample(20)

,user_id,Reputation,Views,UpVotes,DownVotes,post_id,Score,ViewCount,CommentCount,Body
82991,42750,6,0,0,0,91817,1,44.0,0,<p>Let's say I have many 1 dimensional vectors...
79833,38183,1,0,0,0,83764,0,42.0,1,"<p>Before i start, i should mention i am pursu..."
69400,28566,1492,80,0,0,79232,3,NaN,1,"<p>As far as I know, there isn't any formal th..."
49408,12937,21,7,1,0,33281,4,1160.0,1,<p>This is my first question on stackexchange ...
42883,10322,661,98,137,6,26086,0,NaN,0,<p>Read Tom Mitchell's Machine Learning. That...
69420,28566,1492,80,0,0,80659,0,NaN,0,"<p>Yes, there is a rule, but it's much more pr..."
42884,10322,661,98,137,6,26089,5,NaN,1,<p>Through bootstrapping you are simply taking...
43616,10659,237,71,7,0,31084,4,NaN,5,<p>How are you planning to account for the fac...
61649,22163,68,9,1,0,57684,3,399.0,3,<p>If one wishes to test if the correlations i...
32470,6828,355,19,6,2,70859,0,NaN,0,<p>I still don't see the simple regression to ...
86807,47985,16,0,0,0,102630,3,39.0,0,<h2>Background</h2>\n\n<p>As I understand it (...
50291,13402,309,28,19,0,40589,4,NaN,1,<p>I'll begin with a question: how are calcula...
42889,10322,661,98,137,6,26659,2,NaN,0,<p>In order to fully understand my answer and ...
50288,13402,309,28,19,0,39280,4,68.0,1,"<p>For plotting in 3 dimensions, I would say t..."
58778,20473,26,3,0,0,74505,1,87.0,4,<p>I have a data set with about 50K rows and 1...
42893,10322,661,98,137,6,28798,2,NaN,3,<p>Often when I want to select the number of f...
35200,7456,46,13,0,0,18603,9,5435.0,0,"<p>I'll let Wikipedia explain how <a href=""htt..."
76417,35265,181,30,4,0,77668,0,NaN,2,<p>I don't see anything wrong about this. Howe...
90337,54711,4,18,0,0,113953,0,52.0,4,<p>I have obtained PCA scores (Anderson-Rubin)...
42897,10322,661,98,137,6,48825,1,NaN,4,<p>The above code is based on the MeteoLab too...

## 10. How many missing values do you have in your merged dataframe? On which columns?

In [90]:
missing = dropped.isnull().sum()
missing

user_id           0
Reputation        0
Views             0
UpVotes           0
DownVotes         0
post_id           0
Score             0
ViewCount       149
CommentCount      0
Body              0
dtype: int64

## Select only the rows in which there at least some missing values.

In [125]:
dropped['ViewCount'].isnull()

Int64Index([ 8396,  8397,  8398, 13663, 23181, 28311, 28657, 31057, 31246,
            32468,
            ...
            90070, 90071, 90151, 90334, 90335, 90336, 90337, 90338, 90368,
            90460],
           dtype='int64', length=299)

## You will need to make something with missing values.  Will you clean or filling them? 

Pay attention. There can be different reasons for the missings numbers. Look at the `user_id` of some of them, look at the body of the message. Which ones you're sure of what should be and which one can you infer? Don't hurry up, take a look at your data.

In [133]:
dropped.sample(50)

,user_id,Reputation,Views,UpVotes,DownVotes,post_id,Score,ViewCount,CommentCount,Body
86807,47985,16,0,0,0,102630,3,39.0,0,<h2>Background</h2>\n\n<p>As I understand it (...
56047,17459,240,8,20,0,91171,1,94.0,9,"<p>When I simulate normal data in R, I make su..."
69418,28566,1492,80,0,0,80229,0,NaN,9,<p>I don't think you need a special package to...
40062,8926,487,17,9,1,23520,3,754.0,0,<p>I am trying to estimate the following unobs...
69408,28566,1492,80,0,0,79835,1,NaN,0,<p>I believe the concept that you are grasping...
40069,8926,487,17,9,1,38971,1,NaN,1,"<p>I am going to answer my own question, I thi..."
42898,10322,661,98,137,6,76498,4,83.0,8,<p>I am modelling an event using a Binomial di...
38959,8439,106,6,0,0,24199,0,84.0,3,"<p>The necessary context is, I want to model t..."
58776,20473,26,3,0,0,62512,3,66.0,2,"<p>I have a set of ""Days since last Visit"" dat..."
32476,6828,355,19,6,2,87162,1,NaN,2,"<p>I don't know much, if anything, about the D..."
35200,7456,46,13,0,0,18603,9,5435.0,0,"<p>I'll let Wikipedia explain how <a href=""htt..."
42879,10322,661,98,137,6,25918,5,NaN,0,<p>Repeating the same or similar experiment ov...
61654,22163,68,9,1,0,58422,1,NaN,4,<p>There's no need to make assumptions about t...
49181,12813,23,8,1,0,32866,4,609.0,6,<h2>Situation description</h2>\n\n<p>I'm tryin...
56045,17459,240,8,20,0,88697,1,163.0,0,<p>I have a probability density function in R ...
28311,5330,16,0,0,0,12806,3,381.0,0,<p>I would like to know if it is useful (or ma...
53756,16239,136,13,0,0,41222,6,3781.0,2,<p>Can someone explain to me the concept of Ma...
61497,22064,1,1,0,0,52375,0,90.0,0,"<p>What's the difference between ""probability ..."
28657,5433,23,3,0,0,13149,4,606.0,0,"<p>Say $X_0, X_1, ...$ is a Markov chain with ..."
69401,28566,1492,80,0,0,79342,0,NaN,4,<p>I'll answer point number two first. What y...
47253,11921,43,3,2,0,30261,6,8595.0,2,<p>It seems that for calculation of Cohen's $d...
67458,27330,242,62,1,0,62730,0,NaN,0,<p>Putting aside the issue whether 'extremely ...
42897,10322,661,98,137,6,48825,1,NaN,4,<p>The above code is based on the MeteoLab too...
60868,21953,121,6,0,0,76774,1,243.0,0,<p>I am trying to design a matrix factorizatio...
78342,36654,114,5,2,0,80738,2,439.0,3,<p>I am curious about what the probability is ...
76840,35629,6,1,0,0,78436,1,299.0,3,<p>It's regarding a one-tailed Wilcoxon sign t...
67462,27330,242,62,1,0,63008,0,NaN,0,<p>I would also consider PLS as my first choic...
49039,12734,143,11,0,0,51494,2,235.0,6,<p>Let's say I want to run a difference of pro...
67461,27330,242,62,1,0,63005,4,NaN,3,<p>How I would approach this: I would not go f...
42891,10322,661,98,137,6,28097,1,NaN,3,<p>After your latest comment I would opt for a...
69400,28566,1492,80,0,0,79232,3,NaN,1,"<p>As far as I know, there isn't any formal th..."
40066,8926,487,17,9,1,28552,1,NaN,1,<p>If you have monthly series that are related...
76416,35265,181,30,4,0,77552,0,NaN,0,"<p>IMO, the following two tests are a good sta..."
69412,28566,1492,80,0,0,80034,2,NaN,1,<p>Actually I'd like to disagree slightly with...
50287,13402,309,28,19,0,38749,4,192.0,0,<p>In terms of <code>input -&gt; [process] -&g...
60660,21794,31,1,0,0,51808,6,66.0,1,<p>I have a short question about Monte Carlo i...
44171,10880,121,23,6,0,27150,4,NaN,5,"<p>At the top level, Kolmogorov identified <em..."
70637,29020,410,19,14,1,72326,9,159.0,4,<p>It is well known that it is problematic to ...
56048,17459,240,8,20,0,92558,1,33.0,0,<p>Is it possible to infer the testlet structu...
61649,22163,68,9,1,0,57684,3,399.0,3,<p>If one wishes to test if the correlations i...
90071,54290,36,2,1,0,112375,2,42.0,0,<p>I need to compare two generalizability (G) ...
46219,11553,121,16,0,0,29168,0,1208.0,10,<p>These are the values:</p>\n\n<pre><code>18....
65285,25525,68,8,2,0,58745,8,4965.0,2,<p>EDIT 2: I originally thought I needed to ru...
80241,39589,108,2,5,0,85782,1,57.0,0,<p>I'm clustering data on a daily basis and wo...
65287,25525,68,8,2,0,93743,5,743.0,1,<p>Linear mixed-effects models aren't commonly...
43613,10659,237,71,7,0,26563,3,NaN,5,<p>Without knowing everything about your data ...
81100,40519,1,2,0,0,97232,0,16.0,0,<p>I'm analyzing two financial time series wit...
49418,12947,160,19,7,0,81537,0,128.0,0,<p>I'm currently experimenting with gridsearch...
36036,7756,16,4,0,0,19280,3,1120.0,0,"<p>I'm analyzing a set of data, and I like to ..."
90460,54911,1,1,0,0,113691,0,36.0,11,<p>I extract data related to a movie by sentim...

## Adjust the data types in order to avoid future issues. Which ones should be changed?

In [138]:
dropped['ViewCount'].dtype

dtype('float64')

# Bonus 1: (filtering) What is the average number of comments for users who are above the average reputation?

*Hint:* Calculate the average of the user Reputation. Store it in a variable called `avg_reputation` and then use that variable for filtering the dataset and generating the results for each case (for the case in which `Reputation > {avg_reputation}` and etc.

*Hint 2:* You could create a variable based on that condition and use the group by function perform the task above.

In [145]:
avg_reputation = dropped['Reputation'].mean()
avg_reputation

389.40802675585286

In [146]:
mask = dropped['Reputation']>avg_reputation

In [149]:
dropped[mask]

,user_id,Reputation,Views,UpVotes,DownVotes,post_id,Score,ViewCount,CommentCount,Body
40062,8926,487,17,9,1,23520,3,754.0,0,<p>I am trying to estimate the following unobs...
40063,8926,487,17,9,1,23546,2,NaN,1,<p>There are proposed solutions to parametric ...
40064,8926,487,17,9,1,26216,17,NaN,0,<p>I am an economist and I have been working i...
40065,8926,487,17,9,1,26731,1,NaN,0,<p>This is the only reference I know of</p>\n\...
40066,8926,487,17,9,1,28552,1,NaN,1,<p>If you have monthly series that are related...
...,...,...,...,...,...,...,...,...,...,...
70634,29020,410,19,14,1,67957,0,NaN,0,"<p>With more complex models, it may be difficu..."
70635,29020,410,19,14,1,67961,10,NaN,2,<p>I believe what Fisher meant in his famous q...
70636,29020,410,19,14,1,70821,4,88.0,0,<p>I am using the nls procedure in R to fit a ...
70637,29020,410,19,14,1,72326,9,159.0,4,<p>It is well known that it is problematic to ...
70638,29020,410,19,14,1,105601,8,398.0,3,<p>I recently boldly claimed in front of a gro...

# Bonus 2: (grouping) Group your dataframe by the Reputation of your user. Calculate the mean value of ViewCount and CommentCount for each reputation value.

Suppose the missing values on ViewCount are due a systemic error and you wanted to guess what values should have been there in the first place, but the system abended.

Would that be an interesting candidate for inputting the value for the missing `ViewCount` values? If so, input it with these values.

In [154]:
dropped.groupby(by='Reputation').agg({'ViewCount': np.mean, 'CommentCount': np.mean})

              ViewCount  CommentCount
Reputation
1            209.500000      2.052632
3           1023.000000      2.000000
4             36.600000      2.200000
6            102.562500      2.312500
8             63.500000      2.500000
11           904.600000      0.833333
13           579.500000      0.666667
14           140.000000      4.000000
15            76.000000      2.000000
16           194.071429      2.357143
21           443.333333      0.600000
23           431.000000      1.500000
26            80.000000      1.750000
31           200.500000      0.500000
36            56.500000      1.000000
37           100.500000      1.000000
39           110.000000      0.666667
43          4556.000000      2.000000
46          5435.000000      0.000000
68          1284.800000      1.500000
73           503.000000      1.000000
106          134.000000      6.000000
108           51.000000      2.000000
111          293.000000      0.000000
113           62.000000      0.000000
114          439.000000      3.000000
121          317.500000      2.363636
126          168.000000      2.000000
136         1920.500000      1.000000
141                 NaN      0.800000
143          205.000000      6.000000
160          246.500000      4.500000
168         1000.000000      4.666667
181           84.000000      0.555556
237                 NaN      1.714286
240           91.285714      1.555556
242         1022.500000      2.470588
309          235.333333      1.500000
355           99.000000      2.111111
393         5903.000000      3.000000
410          336.200000      1.250000
487          415.500000      0.400000
661          319.166667      2.076923
1492                NaN      1.813953

## refs

Sample database used: https://relational.fit.cvut.cz/dataset/Stats

Stack-overflow database: https://www.brentozar.com/archive/2015/10/how-to-download-the-stack-overflow-database-via-bittorrent/